<table v-repeat="data: dataSet" class="dataViewDataSet" v-class="unread : !dataSet.isRead">
    <thead>
        <tr>
            <th>Submitted {{data.submitted}}</th>
            <th>
                <input style="visibility: hidden;" id="dataViewDataSetMarkRead-{{$index}}" type="checkbox" name="markRead" v-model="dataSet.isRead">
                <label for="dataViewDataSetMarkRead-{{$index}}" class="tip tip-checkmark"></label>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr v-repeat="dataBlock: data.dataBlocks">
            <td>{{dataBlock.label}}</td>
            <td>{{dataBlock.value}}</td>
        </tr>
    </tbody>
</table>
