<nav class="navigationBar">
    <button class="nav-btn" v-on="click: onCancel">{{ 'Cancel' | i18n}}</button>
    <h1>{{'Select Color' | i18n}}</h1>
    <button v-class="disabled: saveDisabled" class="save-btn" v-on="click: onSave">
        <span class="fa fa-check"></span> {{ 'Save' | i18n}}
    </button>
</nav>

<div class="color-picker-inner">
    <ul class="swatches primary">
        <li v-repeat="color: colorGroups"
            style="background-color:{{color}};"
            v-class="selected: selectedColor === color"
            v-on="click: selectColor(color)"></li>
    </ul>

    <ul class="swatches" v-repeat="colorSet: colors" v-show="$index === selectedGroup">
        <li v-repeat="color: colorSet" style="background-color:{{color}};"
            v-class="selected: selectedColor === color"
            v-on="click: selectColor(color)"></li>
    </ul>
</div>
