<nav class="navigationBar nav-default">
    <div><button class="nav-btn" v-on="click: onCancel">{{ 'Cancel' | i18n}}</button></div>
    <h1>{{'Select Color' | i18n}}</h1>
    <div><a class="save-btn" v-class="disabled: disabled" v-on="click: onSave"><span class="ion ion-checkmark-round"></span></a></div>
</nav>

<div class="color-picker-inner">
    <ul class="swatches primary">
        <li v-repeat="color: colorGroups"
            style="background-color:{{color}};"
            v-class="selected: selectedColor === color"
            v-on="click: selectColor(color)"></li>
    </ul>

    <ul class="swatches" v-repeat="colorSet: colors" v-show="$index === selectedGroup">
        <li v-repeat="color: colorSet" style="background-color:{{color}};"
            v-class="selected: selectedColor === color"
            v-on="click: selectColor(color)"></li>
    </ul>
</div>
