#apps {
    padding: 46px 0 46px 0;
}

#apps ul {
    margin: 0;
    padding: 0;
}

#apps lh {
    display: block;
    padding: 10px;

    color: #36494A;
    font-weight: lighter;
    font-size: 14px;
    border-bottom: 1px solid #E7E7E7;
}