<p>{{ 'You can create your own app. Just open a template and edit!' | i18n }}</p>
<img src="/images/ftu_3.png" alt="">

<div v-if="!offline" >
  <button class="btn-next" v-on="click: login">{{ 'Login' | i18n }}</button>
  <a class="btn-next" href="/templates">{{ 'Try as Guest' | i18n }}</a>
  <p>
    Guests can try out webmaker, but can't publish apps.
  </p>
</div>

<div v-if="offline" >
  <!-- <a class="btn-next" href="/templates">{{ 'Next' | i18n }}</a> -->
  <a class="btn-next" href="/templates">{{ 'Try in Offline Mode' | i18n }}</a>
  <p>
    This device isn't connected to the internet, so you won't be able to publish any apps.
  </p>
</div>
