#profile {
    .header-space;
}

#profile-details {}

#profile-header {
    background: #FEE444;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #1CB0B4;

    .profile-avatar,
    .profile-info {
        width: 50%;
        float: left;
    }
    
    .profile-avatar {
        height: 150px;
        padding-bottom: 50%;
        background-size: cover;
        background-image: url(/images/avatar.png);
        background-color: @white;
        overflow-y: hidden;
    }
}
