<nav v-component="navigationBar" class="nav-default"></nav>

<div class="profile-details">
    <ul class="list-cell">
        <li v-component="appCell" v-repeat="app: myApps" appId="{{app.id}}" type="profile"></li>
    </ul>

    <div class="missing" v-show="myApps.length == 0">
        <div class="top">
            <p>{{"You haven't created any apps yet." | i18n}}</p>
        </div>

        <div class="bottom">
            <p class="sub" v-bind-i18n-html="'Head over to Make to start creating your very own app.'"></p>
            <img src="images/arrow-fade-down.svg">
        </div>

    </div>

    <ul class="privacy-legal">
        <li>
            <a href="https://webmaker.org/en-US/terms" v-on="click: openInBrowser">
                {{ "Legal" | i18n }}
            </a>
        </li>
        <li>
            <a href="https://webmaker.org/en-US/privacy" v-on="click: openInBrowser">
                {{ "Privacy Policy" | i18n }}
            </a>
        </li>
    </ul>
    <p class="text-center">
        <a href="/healthcheck" class="invisible-text">open developer menu</a>
    </p>
</div>

<div v-component="tabBar"></div>
