<nav v-component="navigationBar" class="nav-default"></nav>

<div class="profile-details">
    <ul class="list-cell">
        <li v-component="appCell" v-repeat="app: myApps" appId="{{app.id}}" type="profile"></li>
    </ul>

    <div class="missing" v-show="myApps.length == 0">
        <div class="top">
            <p>You haven't created any apps...yet.</p>
        </div>

        <div class="bottom">
            <p class="sub">Head over to <strong>Make</strong> to start creating your very own app.</p>
            <img src="images/arrow-fade-down.svg">
        </div>

    </div>
</div>

<div v-component="tabBar"></div>
