#profile {
    .header-space;

    input {
        color: @black;
        height: 15%;
        min-height: 20px;
        max-height: 30px;
        padding-bottom: 0px;
        padding-top: 0px;
        margin-bottom: 20px;
    }

    .form-group {
        padding-bottom: 0;
    }

    .btn {
        width: 100%;
        height: 50px;
    }

    #profile-header {
        position: relative;
        background: @highlight;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        color: @white;

        .profile-avatar,
        .profile-details,
        .profile-info {
            width: 50%;
            float: left;
        }
        .profile-info {
            transition: padding 0.3s ease-in; // Temporary: Until image picker finished
            &.profile-info-padded {
                padding: 40px 10px;
                height: 100%;
            }
        }
        .profile-details {
            padding-bottom: 50%;
            position: relative;
        }
        .profile-avatar {
            display: none; // Temporary: Until image picker finished
            height: 0; // height created by padding, since it's relative to width
            padding-bottom: 50%;
            background-size: cover;
            background-image: url(/images/avatar.png);
            background-color: @white;
            overflow-y: hidden;
        }
        .profile-container {
            width: 100%;
            float: left;
        }
        .profile-inputs {
            position: absolute;
            width: 80%;
            padding-top: 25%;
            margin-left: 10%;
        }
        .edit-icon {
            position: absolute;
            bottom: 5%;
            cursor: pointer;
            right: 5%;
        }
    }
}
