#profile {
    margin: 45px 0 45px 0;
}

#profile-details {}

#profile-header {
    background: #FEE444;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #1CB0B4;

    .profile-avatar,
    .profile-info {
        width: 50%;
        float: left;
    }
    .profile-info {
        transition: padding 0.3s ease-in; // Temporary: Until image picker finished
        &.profile-info-padded {
            padding: 40px 10px;
        }
    }
    .profile-avatar {
        display: none; // Temporary: Until image picker finished
        height: 0; // height created by padding, since it's relative to width
        padding-bottom: 50%;
        background-size: cover;
        background-image: url(/images/avatar.png);
        background-color: @white;
        overflow-y: hidden;
    }
}
