#appCell {
    height: 72px;
    background-color: white;
    border-bottom: 1px solid @lightGrey;
    list-style: none;
    padding: 0;
    color: @black;
    line-height: 1.4;

    .disable {
      opacity: 0.4;
    }
}

#appCell a {
    display: flex;
    align-items: center;
    height: 100%;
    text-decoration: none;
    color: inherit;

    .name,
    .author {
      display: block;
    }

    .author {
      font-size: 0.8em; // to replace with small
      font-weight: 400;
      color: @mediumGrey;
    }

    .left, .right {
      float: left;
      width: 50%;
      padding: 10px;
    }
    .right {
      text-align: right;
    }
    .app-icon,
    .author-icon {
      width: 50px;
      height: 50px;
      display: block;
      float: right;
      margin-left: 5px;
    }
    .app-icon {
      border-radius: 50%;
    }
}
