<a class="cell"
    v-on="click: onClick"
    data-id="{{id}}"
    href="{{url}}">
    <div class="left">
        <span class="title">{{app.name}}</span>
        <span v-if="view !== 'profile'" class="description" v-bind-i18n-html="'by _'" v-with="{name: app.author.username || app.guestKey}"></span>
    </div>
    <div class="right">
        <div class="app-icon" style="background:{{app.iconColor}};">
          <div class="app-icon-image" style="background-image:url({{app.iconImage}});"></div>
        </div>
    </div>
</a>
