<div class="image-picker-frame">
    <div class="image-picker-btns" v-on="click: cancelEditor" v-show="!inProgress">
        <button v-on="click: getImage($event, 'CAMERA')">
            <span class="ion ion-android-camera"></span>
        </button>
        <button v-on="click: getImage($event, 'PHOTOLIBRARY')">
            <span class="ion ion-images"></span>
        </button>
    </div>
    <div class="in-progress" v-if="inProgress">
        <div class="loading-spinner">
          <div class="cube1"></div>
          <div class="cube2"></div>
        </div>
    </div>
</div>
