<nav id="navigationBar">
    <a href="{{back}}" class="nav-btn">{{ 'Cancel' | i18n}}</a>
    <h1>{{title | i18n}}</h1>
    <button v-class="disabled: saveDisabled" class="save-btn" v-on="click: onSave">
        <span class="fa fa-check"></span> {{ 'Save' | i18n}}
    </a>
</nav>
<main class="main-container">
    <form>
        <div class="form-group" v-repeat="block.attributes" v-component="{{ getEditor(type) }}"></div>
        <div class="btn-delete">
          <button v-on="click: remove">
            <span class="fa fa-trash"></span>
            {{ 'Delete' | i18n }}
          </button>
        </div>
    </form>
</main>
