<nav id="navigationBar" class="nav-default">
    <div>
      <a href="{{back}}" class="nav-btn">{{ 'Cancel' | i18n}}</a>
    </div>
    <h1>{{title | i18n}}</h1>
    <div >
        <a class="save-btn" v-class="disabled: saveDisabled" v-on="click: onSave"><span class="ion ion-checkmark-round"></span></a>
    </div>
    <div v-component="publishingStatus"></div>
</nav>
<main class="main-container">
    <form>
        <div class="form-group" v-repeat="block.attributes" v-component="{{ getEditor(type) }}" v-on="click: enableSave"></div>
    </form>
</main>
