#templates ul {
    margin: 0 0 0 0; //Bottom margin as much as bottom tabbar.
    padding: 0;
    .clearfix;
}

.template-cell {
    // Spacing
    .cell {
        height: auto;
    }
    .left, .middle, .right {
        float: none;
        width: auto;
        padding: 14px 14px 22px;
    }
    .left {
        flex-shrink: 0;
        padding-right: 0;
    }
    .middle {
        flex-grow: 1;
        padding-right: 0;
    }
    .right {
        flex-shrink: 0;
        text-align: left;
    }

    // Type
    .title {
        font-size: 18px;
        margin-bottom: 5px;
    }
    .description {
        display: block;
        font-size: 14px;
        line-height: 1.3;
    }
    .fa-chevron-right {
        font-size: 14px;
    }

    // Colors
    color: white;
    .description {
        color: fade(white, 80%);
    }
    li {
        &:nth-child(6n+1) { background-color: #F2C233; }
        &:nth-child(6n+2) { background-color: #37BDB4; }
        &:nth-child(6n+3) { background-color: @red; }
        &:nth-child(6n+4) { background-color: @turquoise; }
        &:nth-child(6n+5) { background-color: #94BF4B; }
        &:nth-child(6n+6) { background-color: @purple; }

        &:first-child { background-color: @slate; }
    }
    .app-icon {
        border: 2px solid #FFF;
    }
}
