<ul class="list-cell template-cell">
    <li v-repeat="templates" style="background-color: {{iconColor}}">
        <a href="/template/{{id}}/detail" class="cell" template="true">
            <div class="left">
                <div class="app-icon">
                  <div class="app-icon-image" style="background-image:url({{iconImage}});"></div>
                </div>
            </div>
            <div class="middle">
                <span class="title">{{(templateTitle || name) | i18n}}</span>
            </div>
            <div class="right">
                <span class="ion ion-chevron-right"></span>
            </div>
        </a>
    </li>
</ul>

<div v-component="tabBar"></div>
