<div v-if="!app.id" v-component="alert" type="error" message="errorAppNotFound"></div>
<main v-if="app.id">
    <nav v-component="navigationBar" class="nav-default"></nav>
    <div class="start-building">
        <button class="btn btn-dark btn-start-building" v-on="click: create">{{ 'Start Building' | i18n }}</button>
    </div>
    <div class="app-preview">
        <ul class="blocks">
            <li v-component="{{type}}" v-repeat="app.blocks"></li>
        </ul>
    </div>
    <div v-component="tabBar"></div>
</main>
