#template-preview {

    @_button-height: 42px; // Start Building button
    @_padding: 20px; // General padding around everything
    @_bottom-clear: 35px; // How much should we clear the tabBar by?

    background: #EBEFF7;
    padding-left: @_padding;
    padding-right: @_padding;

    .start-building {
        text-align: center;
        padding: @_padding 0;
        .btn-start-building {
            height: @_button-height;
            border-radius: 3px;
            padding: 0 15px;
        }
    }

    .app-preview {
        position: fixed;
        top: @header-height + @_button-height + (2 * @_padding);
        left: @_padding;
        right: @_padding;
        bottom: @tabBar-height + @_bottom-clear;
        border-radius: 4px;
        background: @white;
        overflow: scroll;
        box-shadow: 0 2px 0 0 #C9D0D4;
    }
}
