<ul>
    <li>
        <a data-block="paragraph" href="/make/{{id}}/edit">
            <img src="/images/blocks_text.png" alt="Text" />
            <p>Text</p>
        </a>
    </li>
    <li>
        <a data-block="image" href="/make/{{id}}/edit">
            <img src="/images/blocks_image.png" alt="Image" />
            <p>Image</p>
        </a>
    </li>
    <li>
        <a data-block="sms" href="/make/{{id}}/edit">
            <img src="/images/blocks_sms.png" alt="SMS" />
            <p>SMS</p>
        </a>
    </li>
</ul>
