#add {
    .full-page;

    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: @highlight;

    .list-wrapper {
        position: absolute;
        top: 50px;
        height: ~"calc(100% - 50px)";
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .header {
        position: fixed;
        top: 0;
        width: 100%;
        padding-top: 12px;

        color: white;
        text-align: center;
        font-size: 1.1em;

        .back {
            position: absolute;
            top: 0;
            left: 0;
            font-size: 1.4em;
            color: white;
            border: none;
            outline: none;
            padding: 5px 20px 0;
            text-decoration: none;
            cursor: pointer;
        }

    }

    ul {
        display: block;
        position: relative;
        margin: 0;
        padding: 0 5%;

        list-style: none;
        text-align: center;
    }

    li {
        display: inline-block;
        width: 30%;
        max-width: 100px;
        height: 30%;

        list-style: none;
        text-align: center;

        &.spacer {
            pointer-events: none;
            opacity: 0;
        }

        a {
            color: @white;
            text-align: center;
            text-decoration: none;
        }

        img {
            width: 90%;
        }

        p {
            margin: 10px;
            padding: 0;
            font-size: 0.8em;
        }
    }
}
