<div class="header">
    <button class="glyph back" v-on="click: goBack" class="back">&lt;</button>
    <h1>{{ 'Add a Brick' | i18n }}</h1>
    <div class="glyph spacer"></div>
</div>
<div class="list-wrapper">
    <ul>
        <li v-repeat="block: blocks">
            <a data-block="{{block.type}}" class="brick" href="/make/{{app.type}}/edit">
                <img src="{{block.icon}}" alt="{{block.name}}" />
                <p>{{ block.name | i18n }}</p>
            </a>
        </li>
    </ul>
    <ul>
        <li v-repeat="block: inputBlocks">
            <a data-block="{{block.type}}" class="brick" href="/make/{{app.type}}/edit">
                <img src="{{block.icon}}" alt="{{block.name}}" />
                <p>{{ block.name | i18n }}</p>
            </a>
        </li>
    </ul>

</div>
