<nav class="navigationBar nav-default">
    <div><button class="nav-btn" v-on="click: onCancel">{{ 'Cancel' | i18n}}</button></div>
    <h1>{{'Choose Contacts' | i18n}}</h1>
    <div><button v-class="disabled: saveDisabled" class="nav-btn" v-on="click: onSave">{{ 'Done' | i18n}}</button></div>
</nav>

<div class="inner">
    <div class="contact-list">
        <div v-repeat="modeledContacts">
            <div class="letter-header">{{ $key }}</div>

            <div v-repeat="person : $value" class="contact">
                <label class="circle-toggle" v-on="click: person.selected = !person.selected" v-class="on: person.selected">
                    <span class="ion ion-android-done"></span>
                </label>
                <span>{{ person.displayName }}</span>
                <span class="phone-number">{{ person.phoneNumbers[0].value }}</span>
            </div>
        </div>
    </div>
</div>
