.contact-picker {
    background: #F6F7F7;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1000;
    overflow: hidden;
    display: none;

    &.active {
        display: block;
    }

    .inner {
        position: fixed;
        top: @header-height;
        left: 0;
        right: 0;
        bottom: 0;
        overflow-y: auto;
        z-index: 1;
    }
}

.contact-list {
    color: #6d8c9b;
    font-weight: 500;

    .letter-header {
        font-size: 13px;
        padding: 0.1em 10px;
        border-bottom: 1px solid #e1edf2;
    }

    .contact {
        border-bottom: 1px solid #e1edf2;
        background-color: #fff;
        padding: 0.5em 10px;
    }
}
