<div v-repeat="data: dataSet | orderBy sortKey !sortOldest" class="dataRepresentationDataSet" v-class="unread: !data.isRead && isInteractive, interactive: isInteractive">
    <div class="header" v-if="isInteractive">
        <div class="date">{{formatTime(data.submitted)}}</div>
        <!--
            TODO : Wire this bad boy up:
            <button><span class="ion ion-android-delete"></span></button>
        -->
    </div>
    <div class="content">
        <div v-repeat="dataBlock: data.dataBlocks">
            <div class="label">{{dataBlock.label}}</div>
            <div class="value">{{dataBlock.value}}</div>
        </div>
    </div>
</div>

<div class="noDataInfo" v-if="!dataSet.length">
    <p class="head">{{ 'No data has been stored yet!' | i18n }}</p>
    <div class="glyphs">
        <img src="images/counter-grey.svg">
        <img src="images/submit-grey.svg">
    </div>
    <p class="sub">{{ 'noDataInfoSub' | i18n }}</p>
</div>

<button v-if="isInteractive && countSelected >= 1" type="button" class="dataRepresentationActionButton btn" v-class="btn-share: countSelected === 0, btn-remove: countSelected >= 1, " v-on="click: actionButton()"></button>
