<div class="dataRepresentationSelectAll">
    <input style="display: none;" id="dataRepresentationDataSetMarkRead-All" type="checkbox" name="markReadAll" v-model="allRead" v-on="change: toggleReadAll(this)">
    <label for="dataRepresentationDataSetMarkRead-All">Select all</label>
    <label for="dataRepresentationDataSetMarkRead-All" class="tip tip-checkmark"></label>
</div>
<table v-repeat="data: dataSet" class="dataRepresentationDataSet" v-class="unread : !data.isRead">
    <thead>
        <tr>
            <th>Submitted {{formatUnixTime(data.submitted)}}</th>
            <th>
                <input style="display: none;" id="dataRepresentationDataSetMarkRead-{{$index}}" type="checkbox" name="markRead" v-model="data.isRead" v-on="change: notifyToggleRead()">
                <label for="dataRepresentationDataSetMarkRead-{{$index}}" class="tip tip-checkmark"></label>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr v-repeat="dataBlock: data.dataBlocks">
            <td>{{dataBlock.label}}</td>
            <td>{{dataBlock.value}}</td>
        </tr>
    </tbody>
</table>
<button type="button" class="dataRepresentationRemoveButton btn btn-remove" v-on="click: removeSelected()">Delete Selected</button>
