#ftu {

    background: @turquoise url(/images/bg_ftu_1.jpg) center;
    background-size: cover;
    color: @white;

    .apps-made-by {
        padding: 20px;
        margin: 0;
        font-size: 100px;
        line-height: 1;
        text-transform: uppercase;
        > span {
            display: block;
            font-weight: normal;
            font-size: 0.6em;
            text-decoration: underline;
        }
    }
}
