<div class="top">		
	<h1><span>{{ 'Make &amp; share the web' | i18n }}</span></h1>
    <!--<h1>{{ 'Make &amp; share my' | i18n }}</br>{{ 'the web' | i18n }}</h1>-->
</div>

<div class="bottom">
    <p v-if="loginError">
        <div v-if="loginError" v-component="alert" type="error" message="{{loginError}}" no-margin></div>
    </p>
    <div v-if="!offline" >
        <a v-if="username" href="/profile" class="btn-next">{{ 'Get Started' | i18n }}</a>
        <button v-if="!username" class="btn-next" v-on="click: create">{{ 'Join Webmaker' | i18n }}</button>
        <button v-if="!username" class="btn-next" v-on="click: login">{{ 'Sign In' | i18n }}</button>
        <a href="#" class="btn-next btn-guest" v-on="click: goOffline">{{ 'Try as Guest' | i18n }}</a>
        <p>
            {{ 'Guest Explanation' | i18n }}
        </p>
		<p>
		this &NewLine; &#x0000A;is a test
		</p>
    </div>
    <div v-if="offline" >
        <a href="#" class="btn-next" v-on="click: goOffline">{{ 'Try in Offline Mode' | i18n }}</a>
        <p>
            {{ 'Offline Mode Explanation' | i18n }}
        </p>
    </div>
</div>

