<div class="wrapper" v-class="editing: isEditMode">
    <div class="button-wrapper">
        <button v-on="click: startEditing" class="btn-edit">
            <img src="content/icons/editor-pencil.svg">
        </button>
    </div>

    <div class="editor-wrapper">
        <div class="block-wrapper">
            <content select=":first-child"></content>
            <div v-show="isEditMode && app.blocks[$index].type === 'image'" v-component="imagePicker"></div>
        </div>

        <div class="control-panel">

            <button class="btn btn-flat" v-on="click: trash">
               <img src="content/icons/delete.svg">
            </button>

            <button class="btn btn-flat" v-on="click: duplicate">
               <img src="content/icons/duplicate.svg">
            </button>

            <a v-on="click: onEditClick" class="btn btn-flat" href="/make/{{ app.id }}/block/{{ index }}/edit">
                <img src="content/icons/edit.svg">
            </a>

            <button class="btn btn-flat" v-on="click: move(-1)">
                <img src="content/icons/up.svg">
            </button>

            <button class="btn btn-flat" v-on="click: move(1)">
                <img src="content/icons/down.svg">
            </button>

        </div>
    </div>
</div>
