.inline-editor {
    position: relative;
    transform: translateY(0);
    transition: transform 200ms ease-out, opacity 300ms ease-out;
    opacity: 1;

    &.hidden {
        opacity: 0;
    }

    &.active {
        z-index: 999999;
    }

    &[mode="edit"] {
        .button-wrapper {
            display: flex;
        }
    }

    .button-wrapper {
        display: none;
        position: absolute;
        z-index: 2;
        right: -5px;
        height: 100%;
        align-items: center;

        button {
            border-radius: 50%;
            border: 1px solid rgba(50, 178, 210, 0.5);
            background: none;
            background-color: rgba(225, 245, 250, 0.5);
            color: @turquoise;
            width: 35px;
            height: 35px;
            padding: 0;
        }
    }

    .editing {
        .control-panel {
            display: flex;
        }

        .block-wrapper {
            background-color: @white;
            position: relative;

            img {
                display: block;
            }
        }

        .button-wrapper {
            display: none;
        }
    }

    .control-panel {
        display: none;

        .btn {
            text-align: center;
            background: #32B2D2;
            border-right: 1px solid #1A98B8;
            border-bottom: 1px solid #1A98B8;
            color: @white;

            &:active {
                background: #32B2D2;
            }

            &:first-child {
                border-bottom-left-radius: 4px;
            }

            &:last-child {
                border-bottom-right-radius: 4px;
            }

            &:last-child {
                border-right: 0;
            }
        }
    }

}
