.toggle {
    .wrapper {
        align-items: center;
        color: @turquoise;
        display: flex;
        &.disabled {
            color: @mediumGrey;
        }
    }
    .ion {
        cursor: pointer;
        font-size: 24px;
    }
}
