<nav v-component="navigationBar" class="nav-default"></nav>

<main class="main-container">
    <form>
        <div v-show="error" v-component="alert" type="error" message="{{error}}"></div>
        <div v-show="!error">
            <div v-show="user.username" class="form-group">
                <textarea name="share-message" v-model="shareMessage" class="textarea-large"></textarea>
            </div>
        </div>
    </form>
</main>
<ul class="list-cell">
    <lh class="with-border-top">Share Via</lh>
    <li>
        <div class="cell">
            <div class="left">
                <span class="title">SMS</span>
            </div>
            <div class="right no-padding">
                <button class="btn btn-cell text-small" v-on="click: onSMSClick">
                    Add contacts
                </button>
            </button>
        </div>
    </li>
</ul>

<div v-component="tabBar"></div>

<div v-class="active: showPicker" v-component="contactPicker" v-with="show: showAndroid, contacts: contacts, modeledContacts: modeledContacts"></div>
