<div v-component="navigationBar"></div>




<form v-show="!isPublishing">
    <h3 v-show="app.url" class="section">URL</h3>
    <div v-show="app.url" class="form-group">
        <a href="{{app.url}}">{{app.url}}</a>
    </div>

    <h3 class="section">Share by SMS</h3>
    <div class="form-group" v-show="!user.username">
        <button v-on="click: login" class="btn btn-block">Log in or sign up</button>
    </div>
    <div v-show="user.username" class="form-group">
        <textarea name="share-message" v-model="shareMessage" class="textarea-large"></textarea>
    </div>
</form>

<div v-show="isPublishing" id="loader">
    <img src="/images/loader.gif" alt="Loading..." />
</div>

<!--
<ul class="list-cell">
    <lh class="with-border-top">Share To</lh>
    <li>
        <div class="cell">
            <div class="left">
                <span class="title">SMS</span>
                <span class="description">Share by SMS</span>
            </div>
            <div class="right">
                <a href="/add-contacts">Add contacts</a>
            </div>
        </div>
    </li>
    <li>
        <div class="cell">
            <div class="left">
                <span class="title">Facebook</span>
                <span class="description">Share on Facebook</span>
            </div>
            <div class="right">
                <input type="checkbox" class="pull-right">
            </div>
        </div>
    </li>
</ul> -->

<div v-component="tabBar"></div>
