<nav v-component="navigationBar" class="nav-default"></nav>

<main class="main-container">
    <form>
        <div v-show="error" v-component="alert" type="error" message="{{error}}"></div>
        <div v-show="!error">
            <div class="form-group">
                <textarea name="share-message" v-model="shareMessage" class="textarea-large"></textarea>
            </div>
        </div>
    </form>
</main>
<ul class="list-cell">
    <lh class="with-border-top">{{'Share Via' | i18n}}</lh>
    <li class="share-via share-via-sms">
        <div class="cell">
            <div class="left">
                <span class="title">{{'SMS | i18n'}}</span>
            </div>
            <div class="right">
                <button class="btn btn-cell text-small" v-on="click: onSMSClick">
                    {{'Add contacts' | i18n}}
                </button>
            </div>
        </div>
    </li>
    <li class="share-via share-via-webmaker">
        <div class="cell">
            <div class="left">
                <span class="title">Webmaker</span>
                <span class="text-small">{{'Show in Discover Gallery' | i18n}}</span>
            </div>
            <div class="right">
                <div v-component="toggle" v-with="checked: isDiscoverable, disabled: disableDiscovery"></div>
            </div>
        </div>
    </li>
</ul>

<div v-component="tabBar"></div>

<div v-class="active: showPicker" v-component="contactPicker" v-with="show: showPicker, contacts: contacts, modeledContacts: modeledContacts"></div>

