#share {
    .main-container {
        padding: 0 @body-padding;
    }
    .cell {
        font-size: 18px;
        color: @darkGrey;
        line-height: 1;
        .left, .btn {
            padding: 15px 15px 12px;
        }
        .text-small {
            color: @mediumGrey;
            &.btn {
                color: @white;
            }
        }
    }
    .share-via {
        background: 15px center no-repeat @white;
        padding-left: 34px;
    }
    .share-via-sms {
        background-image: url('../images/publish_sms.png');
        background-size: 21.5px 21.5px;
    }
    .share-via-webmaker {
        background-image: url('../images/publish_webmaker.png');
        background-size: 24px 25px;
    }
}
