<div class="primary-menu">
    <header>{{'Menu' | i18n}}</header>

    <a v-on="click: close" href="/profile" class="btn btn-flat"><img src="content/icons/back.svg"> {{'Back to My Apps' | i18n}}</a>
    <!-- TODO : Add this back in and deep link to sub-view of Detail
      <button v-on="click: onDataClick" class="btn btn-flat"><img src="content/icons/data.svg"> App Data</button>
    -->
    <button v-on="click: onShareClick" class="btn btn-flat"><img src="content/icons/share.svg"> {{'Share' | i18n}}</button>
    <button v-on="click: onDeleteClick" class="btn btn-flat"><img src="content/icons/delete.svg"> {{'Delete' | i18n}}</button>
</div>
