#side-menu {
    position: fixed;
    left: -99999px;
    width: 100%;
    height: 100%;
    z-index: 999998;

    &.active {
        .primary-menu {
            left: 0;
        }
    }

    .primary-menu {
        position: relative;
        left: -100%;
        background-color: @turquoise;
        color: @white;
        width: 66.666%;
        height: 100%;
        transition: left 250ms ease-out;

        header {
            font-size: 11px;
            text-transform: uppercase;
            padding: 1em;
        }

        button {
            display: block;
            border: 0;
            background: #0093B8;
            padding: 1em;
            font-size: 14px;
            width: 100%;
            margin: 0 0 1px;
            text-align: left;

            i {
                margin-right: 0.333em;
            }
        }
    }
}
