<div v-component="navigationBar"></div>

<div class="email">
    <h3>{{ 'Email' | i18n }}</h3>
    {{ email || 'your@email.com' }} - <a v-on="click: login">{{ 'Change' | i18n }}</a>
</div>

<form>
    <div class="form-group">
        <label for="username">{{ 'Choose a username' | i18n }}</label>
        <input type="text" id="username" v-model="user.username" v-on="keyup: checkUsernameExists">
        <div class="form-error" id="usernameTaken" v-if="show: errors.usernameTaken">
            {{'Sorry, that name has already been snagged! Please try another.' | i18n}}
        </div>
    </div>

    <div class="checkbox">
        <label for="mailing-list">
            <input type="checkbox" id="mailing-list" v-model="user.mailingList">
            {{ 'Send me email updates about Mozilla Webmaker and other projects' | i18n }}
        </label>
    </div>

    <div class="checkbox">
        <label for="terms">
            <input type="checkbox" id="terms" v-model="user.terms" checked>
            {{ 'I agree to your terms and conditions' | i18n }}
        </label>
    </div>
</form>

<div v-component="tabBar"></div>
