#project {
  @_gutter: 10px;
  @_baseWidth: 320px;
  @_baseHeight: 440px;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .pages-container {
    position: relative;
    width: @_baseWidth;
    height: @_baseHeight;
    .page {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: @yellow;

      .inner {
        width: 100%;
        height: 100%;
      }

      // These are the previews of the adjacent pages
      &.next {
        opacity: 0.3;
      }
      &.right {
        transform: translateX(100%);
        left: @_gutter;
      }
      &.left {
        transform: translateX(-100%);
        left: -(@_gutter);
      }
      &.top {
        transform: translateY(-100%);
        top: -(@_gutter);
      }
      &.bottom {
        transform: translateY(100%);
        top: @_gutter;
      }
    }
  }

  .fakelink {
    color: blue;
    text-decoration: underline;
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 998;
    background: #1A2237;
    opacity: 0;
    visibility: hidden;
    transition: all 0.1s ease-in-out;
    &.active {
      visibility: visible;
      opacity: 0.7;
    }
  }

  .controls {
    @_transformDistance: 55px;
    position: fixed;
    bottom: 20px;
    left: 0;
    right: 0;
    z-index: 999;
    margin: 0 auto;

    &.add-active {
      .add-menu button {
        transform: translateY(-80px);
        &:first-child {
          transform: translate(-(@_transformDistance), -(@_transformDistance));
        }
        &:last-child {
          transform: translate(@_transformDistance, -(@_transformDistance));
        }
      }
      .add {
        background: #718095;
        transform: rotate(45deg);
      }
    }

    button,
    a {
      position: absolute;
      left: 50%;
      border-radius: 50%;
      border: none;
      color: @blue;
      background: white;
      overflow: hidden;
      height: 46px;
      width: 46px;
      margin-left: -23px;
      bottom: 0;
      transition: transform 0.2s ease-in-out;
      display: flex;
      align-items: center;
      justify-content: center;

      .icon {
        height: 16px;
        display: block;
      }

      &.add {
        transition: 0.2s ease-in-out;
        bottom: 0;
        background: @blue;
        color: @white;
        width: 56px;
        height: 56px;
        margin-left: -28px;
        box-shadow: 0 4px 3px -2px rgba(0,0,0,0.2);

        &:before,
        &:after {
          content: '';
          display: block;
          background: @white;
          height: 22px;
          width: 4px;
          position: absolute;
          top: 50%;
          left: 50%;
          margin-left: -2px;
          margin-top: -11px;
          border-radius: 3px;
        }

        &:after {
          transform: rotate(90deg);
        }
      }

      &.secondary {
        margin-left: 36px;
        &.delete {
          margin-left: -82px;
        }
        bottom: 5px;
        box-shadow: 0 4px 3px -2px rgba(0,0,0,0.2);
        transform: translateY(80px);
        &.active {
          transform: translateY(0);
        }
      }
    }
  }
  .positionables {
    overflow: auto;
    height: 100%;
    width: 100%;

    .positionableContainer {

      .touchOverlay {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 2147483647; /* signed 32bit maxint */
      }

      .positionable {

        padding: 10px;
        user-select: none;

        position: relative;
        display: inline-block;
        z-index: 0;
        background: inherit;

        div {
          box-sizing: content-box;
        }

        p {
          margin: 0;
        }

        &.current {
          margin: -1px;
          border: 1px dashed @white;

          &:after {
            z-index: -1;
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border: 1px dashed @blue;
          }
        }
      }
    }
  }
}
