<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:installLocation="auto"
    package="org.mozilla.webmaker" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.screen.portrait" />
    <uses-feature android:name="android.hardware.camera" android:required="true" />

    <application
        android:name=".WebmakerApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.Project"
            android:label="@string/title_activity_project"
            android:screenOrientation="portrait" >
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".MainActivity" />
        </activity>

        <activity
                android:name=".activity.Play"
                android:label="@string/title_activity_play"
                android:screenOrientation="portrait" >
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".MainActivity" />
        </activity>

        <activity
                android:name=".activity.Link"
                android:label="@string/title_activity_link"
                android:screenOrientation="portrait" >
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".activity.Element" />
        </activity>

        <activity
                android:name=".activity.ProjectSettings"
                android:label="@string/title_activity_project_settings"
                android:screenOrientation="portrait" >
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".activity.Project" />
        </activity>

        <activity
            android:name=".activity.Page"
            android:label="@string/title_activity_page"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.Project" />
        </activity>

        <activity
            android:name=".activity.Element"
            android:label="@string/title_activity_element"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.Page" />
        </activity>

        <activity
            android:name=".activity.Tinker"
            android:label="@string/title_activity_tinker"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.Element" />
        </activity>
    </application>
</manifest>
