<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mozilla.org.webmaker" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-feature android:name="android.hardware.screen.portrait" />

    <application
        android:name=".WebmakerApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.Map"
            android:label="@string/title_activity_map"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.Project"
            android:label="@string/title_activity_project"
            android:parentActivityName=".activity.Map"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.Map" />
        </activity>
        <activity
            android:name=".activity.Editor"
            android:label="@string/title_activity_editor"
            android:parentActivityName=".activity.Project"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.Project" />
        </activity>
        <activity
            android:name=".activity.Tinker"
            android:label="@string/title_activity_tinker"
            android:parentActivityName=".activity.Editor"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.Editor" />
        </activity>
    </application>
</manifest>
