<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mozilla.org.webmaker" >

    <application
        android:name=".WebmakerApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Map"
            android:label="@string/title_activity_map"
            android:parentActivityName=".MainActivity" >
        </activity>
        <activity
            android:name=".Project"
            android:label="@string/title_activity_project"
            android:parentActivityName=".Map" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="mozilla.org.webmaker.Map" />
        </activity>
        <activity
            android:name=".Editor"
            android:label="@string/title_activity_editor"
            android:parentActivityName=".Project" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="mozilla.org.webmaker.Project" />
        </activity>
    </application>

</manifest>
