<div v-component="navigationBar"></div>
<div v-if="!app.id" v-component="alert" type="error" message="errorAppNotFound"></div>
<div v-if="app.id">
    <header>
        <div class="app-icon" style="background-color: {{app.iconColor}}">
            <div class="app-icon-image" style="background-image: url('/images/{{app.iconImage}}')"></div>
        </div>
        <hgroup>
            <h3>{{app.name}}</h3>
            <p class="text-light" v-bind-html="'by _'" v-with="name: app.author.username"></p>
        </hgroup>
    </header>
    <ul id="detail-share" v-if="isTemplate">
        <li><a href="" class="disabled">
            <span class="fa fa-2x fa-fw fa-eye"></span><br>{{ 'Preview' | i18n }}</a>
        </li>
        <li><a href="#" v-on="click: create">
            <span class="fa fa-2x fa-fw fa-edit"></span><br>{{ 'Create' | i18n }}</a>
        </li>
        <li><a href="" class="disabled">
            <span class="fa fa-2x fa-fw fa-list"></span><br>{{ 'Data' | i18n }}</a>
        </li>
    </ul>
    <ul id="detail-share" v-if="!isTemplate">
        <li><a href="/make/{{id}}/share">
            <span class="fa fa-2x fa-fw fa-share"></span><br>{{ 'Share' | i18n }}</a>
        </li>
        <li><a href="/make/{{id}}?mode=play">
            <span class="fa fa-2x fa-fw fa-eye"></span><br>{{ 'Open' | i18n }}</a>
        </li>
        <li><a href="/make/{{id}}?mode=data">
            <span class="fa fa-2x fa-fw fa-list"></span><br>{{ 'Data' | i18n }}</a>
        </li>
    </ul>
    <p v-if="app.url" class="text-center">
        <a target="_blank" href="{{app.url}}">View published app</a>
    </p>
</div>
<div v-component="tabBar"></div>
