<nav v-component="navigationBar" class="nav-default"></nav>
<div v-if="!app.id" v-component="alert" type="error" message="errorAppNotFound"></div>
<div v-if="app.id">
    <header style="background-color: {{app.iconColor}}">
        <div class="app-icon">
            <div class="app-icon-image" style="background-image: url('{{app.iconImage}}')"></div>
        </div>
        <nav class="app-links">
            <ul>
                <li class="active">My App</li>
                <li><a href="/make/{{id}}?mode=data">App Data</a></li>
            </ul>
        </nav>
    </header>

    <ul class="list-cell show-in-discover">
        <li>
            <div class="pull-left">
                <!--TODO improve this in #865 -->
                <div v-component="toggle" v-with="checked: isDiscoverable, disabled: disableDiscovery"></div>
            </div>
            <p>
                Show this app in the Discover Gallery
            </p>
        </li>
    </ul>

    <article class="app-details">
        <div>
            <a class="btn-press" href="/make/{{id}}?mode=play">Open my app</a>
        </div>


        <div class="app-preview">
            <ul class="blocks">
                <li v-component="{{type}}" v-repeat="app.blocks"></li>
            </ul>
        </div>
    </article>
</div>
