<div v-show="!app.id" v-component="alert" type="error" message="errorAppNotFound"></div>
<div v-show="app.id">

    <div id="navigationBar">{{ >navigation }}</div>

    <div v-show="mode === 'settings'" class="edit-inner">{{ >settings }}</div>

    <div class="edit-inner" v-show="['play', 'edit'].indexOf(mode) > -1">{{ >edit-play }}</div>

    <div v-show="mode === 'data'"
        v-component="dataRepresentation"
        v-with="dataSet : currentDataSets, initialDataLoaded : initialDataLoaded"></div>

    <div v-component="makeBar" v-with="uiMode: mode, onChange: changeMode"></div>
</div>
