#edit {
    padding: 88px 0 0 0;

    a.add {
        display: block;
        width: 95%;
        height: 44px;

        margin: 2.5%;
        border: 1px dashed @highlight;
        background-color: transparent;

        color: @highlight;
        font-size: 2em;
        text-align: center;
        text-decoration: none;
    }

    #blocks {
        transform: scale(0.95, 0.95);
        margin-top: -32px;
    }

    #blocks div {
        border: 1px dashed @highlight;
        margin: 10px 0;
    }
}