<div v-if="!app.id" v-component="alert" type="error" message="errorAppNotFound"></div>
<div v-if="app.id">
    <div v-component="navigationBar" v-with="title: 'Edit'"></div>
    <input id="name-input" type="text" v-model="app.name">
    <a class="add" href="/make/{{app.id}}/add">+</a>
    <div id="blocks">
        <a v-component="{{id}}" v-repeat="app.blocks" href="/make/{{app.id}}/block/{{$index}}"></a>
        <button class="btn btn-remove btn-block" v-on="click: removeApp">
            {{'Delete App' | i18n}}
        </button>
    </div>
    <div v-component="makeBar" v-with="app"></div>
</div>
