<div v-component="navigationBar"></div>

<ul class="swatches primary">
    <li v-repeat="color: colorGroups"
        style="background-color:{{color}};"
        v-class="selected: selectedGroup === $index && mode === 'group'"
        v-on="click: onGroupSelect($index)"></li>
</ul>

<ul class="swatches" v-repeat="colorSet: colors" v-show="$index === selectedGroup">
    <li v-repeat="color: colorSet" style="background-color:{{color}};"
        v-class="selected: selectedColor === color && mode === 'single'"
        v-on="click: onSelect(color)"></li>
</ul>
