<!DOCTYPE html>
<html<% if (APPCACHE) { %> manifest="manifest.appcache"<% } %>>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1">

        <title>Webmaker</title>
        <link rel="stylesheet" href="styles/common.css">
    </head>

    <body>
        <div id="app">
            <div v-component="modalPrompt"></div>
            <div v-component="sideMenu" v-on="click: onRootClick"></div>
            <div v-component="shim" v-on="click: onShimClick"></div>

            <div v-view="currentView" class="main"></div>
            <div v-if="alertOn" id="alert-overlay" class="animated v-fade" v-transition>
                <div v-component="alert" type="error" message="{{alertMessage}}"></div>
            </div>
            <div class="loader animated v-fade" v-if="!isReady" v-transition>
                <div class="loading-spinner">
                  <div class="cube1"></div>
                  <div class="cube2"></div>
                </div>
            </div>
        </div>
        <script src="cordova.js"></script>
        <script src="index.js"></script>
        <% if (REMOTE_DEBUGGING) { %>
        <script src="<%= REMOTE_DEBUGGING %>/target/target-script-min.js#anonymous"></script>
        <% } %>
    </body>
</html>
