
<button class="footer-btn" v-on="click: toggleShowFooter">{{'Made with Mozilla Webmaker' | i18n}}</button>
<div class="details" v-show="showFooter">
    <div class="form-group">
        <p class="text-small">{{'Make your own app at' | i18n}}</p>
        <p><a href="http://mzl.la/webmaker" class="btn">Mozilla Webmaker</a></p>
        <!-- Can't show these until we have manifest + discover implemented -->
        <ul class="list-btns">
            <li v-if="showInstall"><a class="btn" href="#" v-on="click: install">{{'Add to Homescreen' | i18n}}</a></li>
       <!--      <li><a class="btn" href="">Learn more abut this app</a></li> -->
        <!--     <li><a class="btn" href="#" v-on="click: share">{{'Share App' | i18n}}</a></li> -->
        </ul>
    </div>
</div>
