.btn {
    margin: 0;
    padding: 10px;
    box-shadow: none;
    background: white;
    border: 1px solid @mediumGrey;
    color: @mediumGrey;
    display: inline-block;
    font-size: 14px;
    &.btn-block {
        display: block;
        text-align: center;
        width: 100%;
    }
    &.btn-remove {
        font-style: italic;
        color: @red;
        border-color: @red;
    }
}

.btn-next {
    display: block;
    position: absolute;
    width: 100%;
    height: 55px;
    bottom: 0;
    left: 0;

    padding: 16px 0;
    color: @turquoise;
    background-color: #FFF;
    text-align: center;
    text-decoration: none;
}
