@system: #000;
@black: #3B4E5B;
@white: #FFF;

@turquoise: #5AA1E8;
@blue: #3386C0;
@neonblue: #00a9f5;
@purple: #8A88CD;
@yellow: #FFE62C;
@red: #FF5C5A;
@green: #1EC08B;
@slate: #3B4E5B;

@darkGrey: #638093;
@mediumGrey: #A5BECE;
@lightGrey: #E1EBF1;
@extraGrey: #F6F7F7;

@lightGreyUnsaturated: #F5F5F5;

@highlight: @turquoise;
@background: @extraGrey;

/**************************
 * Button coloring
 */
@btnBlue: hsv(210, 58%, 93%);
@btnBlueBorder: hsv(210, 58%, hsvvalue(@btnBlue - 35));
@btnBluePressed: hsv(210, 58%, hsvvalue(@btnBlue - 7));

@btnRed: hsv(4, 65%, 92%);
@btnRedBorder: hsv(4, 65%, hsvvalue(@btnRed - 35));
@btnRedPressed: hsv(4, 65%, hsvvalue(@btnRed - 7));

@btnGrey: hsv(0, 0%, 88%);
@btnGreyBorder: hsv(0, 0%, hsvvalue(@btnGrey - 35));
@btnGreyPressed: hsv(0, 0%, hsvvalue(@btnGrey - 7));
