label,
input {
    display: block;
}

input {
    display: block;
    width: 100%;
    padding: 8px 10px;
    box-shadow: none;

    font-size: inherit;
    font-weight: 400;

    background: @white;
    border: 1px solid @lightGrey;
    border-radius: 0px;
}

label {
    padding: 0 10px;
    font-size: 14px;
    color: @darkGrey;
    margin-bottom: 5px;
}

.form-group {
    padding: 14px;
    margin-bottom: 4px;
}

form .form-group:last-of-type {
    margin-bottom: 0;
}
