.tip {
    @tipSize: 24px;
    display: inline-block;
    width: @tipSize;
    height: @tipSize;
    margin: 2px;
    color: @white;
    background-color: @turquoise;
    font-size: 8px;
    border-radius: 999px;

    &.tip-remove {
        background-color: @red;

        &:after {
            //.fa-times;
            content: 'x';
            font-size: 18px;
            text-align: center;
            margin-left: 8px;
            line-height: 22px;
        }
    }

    &.tip-checkmark {
        background-color: @white;
        border: 1px solid @mediumGrey;
        border-radius: 100%;
        font-size: @tipSize - 5;
        line-height: @tipSize;

        &:before, &:after {
            color: @white;
            margin-left: -@tipSize / 3;
        }

        input[type=checkbox]:checked ~ & {
            background-color: @red;
        }
    }
}
