<a v-if="typeof back === 'string'" class="back nav-btn" href="{{back}}">&lt;</a>
<a v-if="typeof cancel === 'string'" href="{{cancel}}" class="nav-btn">{{'Cancel' | i18n}}</a>

<h1>{{title | i18n}}</h1>

<button v-if="typeof onDone === 'function'" v-on="click: onDone" v-class="disabled: doneDisabled" class="nav-btn">{{doneLabel || 'Done' | i18n}}
</button>
<a v-show="!offlineUser" v-if="typeof onDone === 'string'" href="{{onDone}}" v-class="disabled: doneDisabled" class="nav-btn">{{doneLabel || 'Done' | i18n}}</a>
