#navigationBar, .navigationBar {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;

    width: 100%;
    height: @header-height;

    &.nav-flex {
        display: flex;
        align-items: center;
    }

    .left,
    .right {
        position: absolute;
        top: 0;
        height: 100%;
    }
    .left {
        left: 0;
    }
    .right {
        right: 0;
        text-align: right;
    }

    // Flex property not needed in h1
    h1 {
        color: @white;
        text-align: center;
        font-size: 1.1em;
        font-weight: 400;
        margin: 0 auto;
        width: 60%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .edit-app-name {
        display: flex;
        justify-content: space-between;
    }

    .ion-edit {
        line-height: 1.5;
    }

    .hide-text-overflow {
        flex-grow: 1;
        margin: 2px 0 0 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    a {
        color: inherit;
        cursor: pointer;
    }

    .save-btn {
        @_btnSize: 30px;
        @_vSpace: @header-height;
        position: absolute;
        right: 0;
        top: 0;
        height: @header-height;
        width: @header-height;
        line-height: @_btnSize;
        padding: 0;
        background: rgba(0,0,0,0.4);
        color: @white;
        font-size: 13px;
        border: none;
        text-align: center;
        transition: background-color 0.3s ease-in-out;
        .fa {
            margin-right: 3px;
        }

        opacity: 1;

        &.disabled {
          opacity: 0.2;
        }

        .ion {
            display: inline-block;
            height: @header-height;
            width: @header-height;
            line-height: @header-height;
            font-size: 18px;
        }
    }

    .nav-btn {
        background: none;
        color: @white;
        border: none;
        outline: none;
        padding: 0 20px 0 15px;
        height: @header-height;
        text-decoration: none;
        font-size: 13px;
        display: flex;
        align-items: center;
        .ion {
            font-size: 24px;
            line-height: 1.4;
        }
        &.nav-btn-icon {
            font-size: inherit;
            padding-top: 0;
        }
        &:first-child {
            left: 0;
        }
        &:last-child {
            right: 0;
        }
        &.back {
            line-height: @header-height;
            font-size: 1.4em;
        }
    }

    .add-btn {
        float: right;
        background-color: #21e0fc;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        height: @header-height;
        margin: 0;
        padding: 0 15px;
        img {
            display: block;
        }
    }

    &.nav-default {
        background-color: @highlight;

        h1:extend(.navigationBar h1) {
            color: @white;
        }

        .nav-btn:extend(.navigationBar .nav-btn) {
            color: @white;
        }
    }

    &.nav-alt {
        h1:extend(.navigationBar h1) {
            color: @white;
        }
        .nav-btn:extend(.navigationBar .nav-btn) {
            color: @white;
        }
    }

    .button-group {
        padding: 0 15px;

        button {
            padding: 0 10px;
            font-size: 1.4em;
            border: 0;
            color: @white;

            &:first-child {
                padding-left: 0;
            }

            &:last-child {
                padding-right: 0;
            }
        }
    }
}
