header {
    position: fixed;
    left: 0;
    top: 0;

    width: 100%;
    height: 45px;
    border-bottom: 1px solid #E7E7E7;
    background-color: white;
}

header h1 {
    display: block;
    margin: 8px auto 0 auto;
    
    color: #32B2D2;
    text-align: center;
    font-size: 16pt;
    font-weight: 200;
    font-style: italic;
}

header button {
    // @todo
}