#make {
    height: 100%;
    .makeContainer {
        height: 100%;
    }
    margin-bottom: 0;
    .toucan {
            position: relative;
            height: 100%;
            width: 100%;
            text-align: center;
        img {
            position: relative;
            top: 50%;
            margin-top: -56px;

        }
    }
    .toucanWrapper {
        position: absolute;
        right: 2%;
        top: 140%;
        .toucanspeak {
            position: relative;
            background: @turquoise;
            color: @lightGreyUnsaturated;
            font-size: 14px;
            padding: 15px;
            border-radius: 5px;
            max-width: 170px;
            &:after {
                display: inline-block;
                content: "";
                border-color: transparent transparent @turquoise transparent;
                border-style: solid;
                border-width: 10px;
                height: 0px;
                width: 0px;
                position: absolute;
                top: -17px;
                right: 8px;
            }
        }
    }

    .edit-container {
        padding: 10px;
    }

    .settings-container {
        padding: 0 15px;
    }

    .name-wrapper {
        .text-truncate;
        vertical-align: bottom;
        display: inline-block;
        max-width: 50%;
        position: relative;

        &.edit {
            padding-right: 24px;
            cursor: pointer;
            border-bottom: dashed 1px @white;
        }

        .fa {
            position: absolute;
            top: 2px;
            right: 0;
        }
    }

    .add {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 44px;

        margin-bottom: 15px;
        border-radius: 30px;

        background: @highlight;
        color: @white;

        text-align: center;
        text-decoration: none;

        overflow: hidden;
        transition: height 0.2s ease-in-out,
            margin 0.2s ease-in-out;
        &.off {
            height: 0;
            margin: 0;
        }
    }

    .icon-chooser {
        margin-top: 20px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;

        .button {
            padding: 20px;
            cursor: pointer;
        }

        span {
            display: block;
            color: @mediumGrey;
            font-size: 18px;
            position: relative;
            top: 50%;
        }

        .icon-container {
            vertical-align: middle;
            margin: 0 20px;
        }

        .app-icon {
            position: relative;
            top: 50px;
            transform: translateY(-50%);
            height: 100px;
            width: 100px;
            background: orange;
            border-radius: 100px;

            .icon-image {
                height: 80px;
                width: 80px;
                position: absolute;
                top: 10px;
                left: 10px;
                background-position: center;
                background-size: 100%;
                background-repeat: no-repeat;
            }
        }
    }

    .swatches {
        list-style: none;
        padding: 0;
        overflow: auto;
        width: 100%;
        margin: 15px auto 0 auto;
        max-width: 400px;

        li {
            float: left;
            margin: 2%;
            cursor: pointer;
            width: 16%;
            height: 0;
            padding-bottom: 16%;
            transition: box-shadow 0.1s ease-in;
            border-radius: 50%;
        }
    }

    .edit-app-name {
        color: @white;
        padding-bottom: 0.25em;
    }
}

.blocks {
    .list-reset;
    position: relative;

    li.preview-overlay {
        background: transparent;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 9;
    }

    // TODO - take this out? (li turned into div)
    > li {
        display: block;
        position: relative;

        padding: 10px;
        border: none;

        &.image {
            padding: 0;
        }

        .draggable-handle {
            display: none;
        }

        // Editable state
        transition: margin 0.2s ease-in-out,
        padding 0.2s ease-in-out,
        border-color 0.2s ease-in-out;

        &[draggable=true] {
            transition: none;
        }

        &.editable {
            padding: 15px 70px 15px 10px;
            user-select: none;
            border: dashed 1px @highlight;
            margin-bottom: 10px;

            .draggable-handle {
                display: flex;
                width: 50px;
                position: absolute;
                top: 0;
                bottom: 0;
                right: 0;
                color: @mediumGrey;
                align-items: center;
                justify-content: center;
            }
        }

        img {
            margin-bottom: -4px;
        }

    }

    [draggable=true] {
        background: #f6f7f7;
        opacity: 1;
        padding-top: 10px;
        padding-bottom: 10px;
        &::before {
            top: 0 !important;
            width: 100%;
            height: 100% !important;
        }
    }

    .sortable-ghost {
        height: 25px;
        padding: 0px !important;
        background: #32b2d2;
        margin: 5px 0;

       * {
           opacity: 0;
       }
    }
}
