<div v-show="!app.id" v-component="alert" type="error" message="errorAppNotFound"></div>
<div v-show="app.id">

    <div id="navigationBar" class="nav-default">{{ >navigation }}</div>

    <main v-class="edit-container: mode === 'edit', settings-container: mode === 'settings'">
        <div v-show="mode === 'settings'">{{ >settings }}</div>

        <div v-show="['play', 'edit'].indexOf(mode) > -1">
            <div v-component="blockList" id="blocks" class="blocks" v-with="appid: app.id">
                <div
                    mode="{{ mode }}"
                    app="{{ app }}"
                    index="{{ $index }}"
                    v-component="inlineEditor"
                    v-repeat="block : app.blocks">

                    <div
                        v-with="block"
                        v-component="{{ block.type }}"></div>
                </div>
            </div>
        </div>

        <div v-show="mode === 'data'"
            v-component="dataRepresentation"
            v-with="dataSet : currentDataSets, initialDataLoaded : initialDataLoaded">
        </div>
    </main>

    <div v-if="mode !== 'settings'" v-component="makeBar" v-with="uiMode: mode === 'settings' ? 'edit' : mode, onChange: changeMode"></div>

</div>
