<div v-show="!app.id" v-component="alert" type="error" message="errorAppNotFound"></div>
<div v-show="app.id">

    <div id="navigationBar">{{ >navigation }}</div>

    <div v-show="mode === 'settings'">{{ >settings }}</div>

    <div class="edit-inner" v-show="['play', 'edit'].indexOf(mode) > -1">
        <a class="add"
            href="/make/{{app.id}}/add"
            v-class="off: mode === 'play'">
            <span class="fa fa-plus"></span>
        </a>
        <ul id="blocks">
            <li v-repeat="app.blocks"
                v-component="{{type}}"
                index="{{$index}}"
                v-on="click: goTo('/make/' + app.id + '/block/' + $index, $event)"
                v-class="editable: mode === 'edit'">
            </li>
        </ul>
        <button class="btn btn-remove btn-block" v-if="mode === 'edit'" v-on="click: removeApp">
            {{'Delete App' | i18n}}
        </button>
    </div>

    <div v-show="mode === 'data'"
        v-component="dataRepresentation"
        v-with="dataSet : currentDataSets, initialDataLoaded : initialDataLoaded"></div>

    <div v-component="makeBar" v-with="uiMode: mode === 'settings' ? 'edit' : mode, onChange: changeMode"></div>
</div>
