<div>
  <a class="nav-btn" v-on="click: showMenu" v-if="mode !== 'settings'"><span class="ion ion-android-menu"></span></a>
  <a class="nav-btn" v-on="click: goBack" v-if="mode == 'settings'">{{ 'Cancel' | i18n}}</a>
  <a class="save-btn" v-class="disabled: saveDisabled" v-on="click: onSave" v-if="mode == 'settings'"><span class="ion ion-checkmark-round"></span></a>
</div>

<h1>
    <span v-if="mode === 'settings'">{{ 'App Name & Icon' | i18n}}</span>
    <a class="edit-app-name" v-if="mode === 'edit'" v-on="click: changeMode('settings')" v-if="mode !== 'settings'">
      {{app.name}}
      <span class="ion ion-edit"></span>
    </a>
    <span v-if="mode === 'play'">
      {{app.name}}
    </span>
</h1>

<div>
    <a href="/make/{{app.id}}/add" class="nav-btn" v-if="mode === 'edit'">
      <span class="ion ion-android-add"></span>
    </a>
</div>
