<div>
  <a class="nav-btn" v-on="click: showMenu" v-if="mode !== 'settings' && mode !== 'play'"><span class="ion ion-android-menu"></span></a>
  <button class="back nav-btn" v-on="click: goPreviousView" v-if="mode == 'play'"><span class="icon ion-android-arrow-back"></span></button>
  <a class="nav-btn" v-on="click: goBack" v-if="mode == 'settings'">{{ 'Cancel' | i18n}}</a>
  <a class="save-btn" v-class="disabled: saveDisabled" v-on="click: onSave" v-if="mode == 'settings'"><span class="ion ion-checkmark-round"></span></a>
</div>

<h1>
    <span v-if="mode === 'settings'">{{ 'App Name & Icon' | i18n}}</span>
    <a class="edit-app-name" v-if="mode === 'edit'" v-on="click: changeMode('settings')" v-if="mode !== 'settings'">
        <p class="hide-text-overflow">
            {{app.name}}
        </p>
        <p class="ion ion-edit"></p>
    </a>
    <span v-if="mode === 'play'">
      {{app.name}}
    </span>
</h1>

<div>
    <a href="/make/{{app.id}}/add" class="nav-btn" v-if="mode === 'edit'">
      <span class="ion ion-android-add"></span>
    </a>

</div>
          <div v-if="noBlock == 0" class="toucanWrapper">
            <div class="toucanspeak">
                {{ 'Tap the plus sign to begin adding content.' | i18n }}
            </div>
        </div>
        <div v-show="!faded && noBlock == 1" class="toucanWrapper">
            <div class="toucanspeak">
                {{ 'Tap the plus sign to add more content.' | i18n }}
            </div>
        </div>
<div v-component="publishingStatus"></div>
