<div>
    <a class="nav-btn" v-on="click: goBack">{{ 'Done' | i18n}}</a>
</div>

<h1>
    <span v-if="mode === 'settings'">{{ 'App Name & Icon' | i18n}}</span>
    <a class="edit-app-name" v-if="mode === 'edit'" v-on="click: changeMode('settings')" v-if="mode !== 'settings'">
      {{app.name}}
      <span class="fa fa-pencil"></span>
    </a>
    <span v-if="mode === 'play'">
      {{app.name}}
    </span>
</h1>

<div>
    <a v-if="mode !== 'settings' && !offlineUser" class="nav-btn" href="{{onDone}}">
        {{ 'Publish' | i18n}}
    </a>
</div>
