#makeBar {
    position: fixed;
    bottom: 0;
    z-index: 100;
    width: 100%;
    background: white;
    padding: 10px 32px;
    border-top: solid 1px #E1ECF1;
}

.slide-options {
    overflow: auto;

    a {
        width: 33.33%;
        box-sizing: border-box;
        float: left;
        text-align: center;
        padding: 12px 0;
        color: #97D8E8;
    }

    .wrapper {
        position: relative;
        background: @turquoise;
        margin: 0 auto;
        border-radius: 30px;
        overflow: auto;
        width: 100%;
    }

    .active {
        color: @highlight;
        transition: color 0.2s ease-in-out;
    }

    .slide-active {
        position: absolute;
        height: 100%;
        left: 0;
        width: 33.33%;
        background: white;
        border: solid 1px @turquoise;
        border-radius: 30px;
        opacity: 1;
        transition: left 0.2s ease-in-out;
        &.play {
            left: 0;
        }
        &.edit {
            left: 33.33%;
        }
        &.data {
            left: 66.66%;
        }
    }

    .slide-text {
        z-index: 1;
        position: relative;
    }
}
